---
---

@import "{{ site.theme }}";


.page-header h1,
.page-header h2,
.page-header a{
    display:none;
}
.page-header{    
    padding:50px 10px;
    background:#f2f2f2;
}

.main-content h2{
    font-size:42px!important;
    color:#000;
   font-weight: 800!important;
    font-family: "Montserrat",-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    line-height: 1.21875;
}

.main-content h3{
    font-size: 24px;
    margin-bottom: 6.66667px;
}

h1,h2,h3,h4,h5,h6{
    color:#000!important;
    font-weight:800!important;
}

.site-footer-owner,
.site-footer-credits{
    display:none;
}

.main-content{
    max-width: 1215px;
    margin-left: auto;
    margin-right: auto;
    padding-top:25px;
}

.main-content p{
    font-size: 16px;
    font-family: "Roboto",Helvetica,Arial,-apple-system,BlinkMacSystemFont,"Segoe UI",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    line-height: 1.5;
    color: #222;
}

.main-content p a{
    font-size:2em;
    color:#000;
    font-weight:600;
    position:absolute;
    top:25px;
    text-decoration:none;
}

.main-content p a:hover{
    text-decoration:none;
}
.main-content p:nth-child(5) a{
    position:relative;
    font-size:inherit;
    top:inherit;
}

.main-content table{
    top:65px;
    margin:0 auto;
    right:140px;
    max-width: 300px;
}

.main-content table a{
    color:#000;
    border:none;
    font-size:15px;
    font-weight:600;
}

.main-content table th, .main-content table td{
    border:none;
}

.main-content table td:first-child a::after{
    content:"|";
    position:relative;
    left:16px;
}

.main-content table tr:first-child{
    position: absolute;
    top: 26px;
    margin: 0 auto;
    right: 200px;
    max-width: 300px;
}

.main-content table td:first-child a::after{
    content:none;
}

.main-content table tr:last-child td:first-child a::after{
    content:"|";
}


.main-content table tr:last-child{
    position: absolute;
    top: 26px;
    margin: 0 auto;
    right: 375px;
    max-width: 300px;
}

@media(max-width:1024px){

.main-content table tr:last-child{
    top:59px;
    right: 123px;
}
    
.main-content table tr:first-child {
    top: 59px;
    right: 0px;
    }
    .main-content table tr:first-child{
        
    }

    
}


@media(max-width:768px){
    .main-content table{
    right:40px;
}
    .main-content table tr{
        padding:0;
    }
    .main-content table tr a{
        font-size:12px;
    }
    .main-content p a{
    font-size:24px;
}
}
